html, body {
	padding: 0px;
	margin: 0px;
	background-color: #9fa7a9;
}

#thumb {
	border: #000 4px solid;
	float: left;
	padding: 0;
	margin: 10px;
	width: 300px;
	height: 300px;
}

#thumb a img {
	border: none;
}

#container {
	width: 100%;
	height: 100%;
}

#container-left {
	background-color: yellow;
	width: 50%;
	float: left;
	text-align: center;
	height: 450px;
	vertical-align: middle;
}

#container-right {
	background-color: #1e2b2f;
	width: 100%;
	float: left;
	padding-top: 20px;
	text-align: center;
	height: 405px;
}

#container-right img {
	border: none;
	margin: 0;
	padding: 0;
	padding-top: 16px;
	width: 64px;
	height: 64px;
	float: left;
}

#container-bottom {
	width: 100%;
	clear: both;
	vertical-align: middle;
	text-align: center;
}